@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Stack Sans Notch", "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #020024;
  background: linear-gradient(208deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(208deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
  -webkit-background-clip: text;
}

body {
  background:
    radial-gradient(circle at 20% 20%, rgba(255,255,255,0.04), transparent 40%),
    radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: cover, 40px 40px;
  background-color: #0b0b0f;
}
